<ion-header>
  <ion-toolbar>
    <ion-title>Añadir foto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">
  <!-- Mostrar la imagen capturada, si existe -->
  <ion-img *ngIf="capturedImage" [src]="'data:image/png;base64,' + capturedImage" style="max-width: 350px;"></ion-img>
  
  <!-- Botón flotante para abrir la cámara -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
